<?xml version="1.0" encoding="UTF-8"?>

<!-- <configuration info="true"> 调试模式下，可输出logback的内部日志信息 -->
<configuration info="false">

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level][%thread]:%logger{50} [%method:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 10 days' worth of history -->
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] %logger:%L [%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--这里可以使用springProfile设置，不同的环境使用不同的日志输出配置-->
    <springProfile name="dev">
        <root>
            <level value="info"/>
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

</configuration>